QUESTION 1

In [ ]:
#String
a="Pwskills"

#List
l=[2,3,4,5,6,"XYZ",7+8j]

#float
a=23.45

#tuple
t=(20,'virender',34.67[30,40,50])

QUESTION 2

1. STRING
2. STRING
3. LIST 
4. INTEGER

QUESTION 3

In [4]:
# % it is a operator use for finding the remainder
print(4%2)
print(4%3)

# // this is a operator used for performin floor division
a=3
b=2
print(a//b)

#  ** this operator is used for performing the exponent operation
c=2**3
print(c)

0
1
1
8

QUESTION 3

In [5]:
l=[10,20,30,'virender',36.85,'a','b','c','d','e']
for i in l :
    print(i)

10
20
30
virender
36.85
a
b
c
d
e

QUESTION 4

In [2]:
A=int(input("enter the value of A"))
B=int(input("enter the value of B"))
count=0
while A%B==0 :
    count=count+1
    A=A//B
if count>0:
    print(f"it is divisible by {A} and the number of times it is divisilbe is {count} times ")
else:
    print("it is not divisible")

enter the value of A 4
enter the value of B 2

it is divisible by 1 and the number of times it is divisilbe is 2 times

QUESTION 5

In [ ]:
n=[1,2,3,4,5,67,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
count=0
for i in n :
    print(i)
    while i%3==0:
        count=count+1
if count>0 :
    print("it is divisible by 3")
else :
    print("it is not divisible for 3")

1
2
3

QUESTION 6
if we are able to change or replae a datatype from a collection or  list then it is called as mutable data type

if we are unable on change or replace a elemnt from a collection or a string then it is called as immutable datatype